<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<div>

        <h3> Автомобили по вашему запросу </h3>

</div>
<table>
    <thead>
    <tr>
        <th>№ п/п</th>
        <th>Марка</th>
        <th>Модель</th>
        <th>Год выпуска</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car, iterStat : ${cars}"
        th:style="${iterStat.odd}? 'font-weight: bold;'">
        <td th:text="${iterStat.index}+1"></td>
        <td th:text="${car.getBrandName()}"></td>
        <td th:text="${car.getModel()}"></td>
        <td th:text="${car.getYear()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>